* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

body {
    overflow-x: hidden !important;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

.container {
    width: 100% !important;
}

header {
    height: 100vh;
}

.landing-text {
    display: flex;
    justify-content: center;
    align-items: center
}

.logo img {
    width: 200px;
}

.landing-illurstration img {
    width: 100%;
}

.passion-article {
    text-align: justify;
}

.upload-cv {
    background-color: #EB8145 !important;
    font-weight: 400;
    color: white;
}

.upload-cv:hover {
    color: white;
}

.recruitment-note {
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    padding-right: 30px;
}

.recruitment-head {
    max-width: 400px;
}

#recruitment {
    background: #F4F8F1
}

.card-img-top {
    padding: 10px 0px 0px 15px;
    width: 60px;
}

.card-group-1 {
    ;
}

.card {
    position: relative;
    margin: 15px !important;
    height: 280px;
}

.move-card-down-1 {
    margin-top: 70px !important;
}

.move-card-down-2 {
    margin-top: 30px !important;
}

.move-card-up {
    margin-top: -20px !important;
}

.card-title {
    color: black;
    margin-top: -7px;
    font-size: 18px;
    font-weight: 500;
}

.card-text {
    font-size: 15px;
    text-align: left;
}

.process-number {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 100px !important;
    color: #EB8145;
    font-weight: 900 !important;
}

#form-section {
    background-image: url('../img/Design.png');
    background-repeat: no-repeat;
    background-position-x: -100px;
    min-height: 800px;
}

#internal-networks-section {
    margin-top: 0px;
    background-image: url('../img/internal-value-bg.png');
    background-repeat: no-repeat;
    background-position: cover;
    min-height: 400px;
}

.section-text-wraper {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center
}

.sub-resume-head {
    margin-top: 35px !important;
}

.form-card {
    min-height: 620px;
    margin: auto;
}

.drag-and-drop:hover {
    cursor: pointer;
}

.form-group-sub {
    display: flex;
}

.portfolio-form input:focus {
    outline-color: #89B369 !important;
}

.submit {
    background-color: #89B369 !important;
    color: white;
    border-radius: 2px !important;
}

.portfolio-form input {
    border-radius: 0px;
}

#email {
    border: solid 1px #89B369 !important;
    width: 250px;
    height: 35px;
    padding: 0px 2px;
    font-size: 13px;
}

#email:focus {
    outline: 0;
}

.subscribe {
    text-align: center;
    background-color: #89B369;
    border: 0px;
    padding: 0px 5px;
    outline: none;
    color: white;
    font-size: 13px;
    font-weight: 300px;
}

#footer {
    background: #4F4F4F !important;
    color: white;
}

.footer-logo img {
    margin-top: -40px;
    width: 200px;
}

.subscribe-heading h4 {
    font-size: 17px;
    font-weight: 300;
    text-transform: uppercase;
    color: #89B369 !important;
}

.contact {
    font-size: 15px !important;
    font-weight: 200;
}

.quick-links {
    list-style: none;
    margin-left: -30px;
}

.quick-links li a {
    color: white;
    font-size:
}

.quick-links li {
    margin: 3px
}

.landing-text {}

.footer-social {
    display: flex;
    justify-content: flex-end;
}

.footer-social img {
    width: 30px;
    margin: 0px 5px;
}

@media (max-width: 490px) {
    .logo img {
        width: 150px;
        margin-bottom: 20px;
    }
    .landing-illurstration img {
        margin-left: -7px;
        width: 100%;
    }
    .passion-article {
        text-align: justify;
    }
    .passion-article p {}
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-size: 16px;
    }
    .container {
        width: 97% !important;
    }
    .landing-text div {
        margin-top: 20px !important;
    }
    .move-card-down-1 {
        margin-top: 15px !important;
    }
    .move-card-down-2 {
        margin-top: 15px !important;
    }
    .move-card-up {
        margin-top: 15px !important;
    }
    .card {
        margin-bottom: 30px !important;
        height: 270px;
    }
    .recruitment-note {
        font-size: 16px;
        font-weight: 300;
        text-align: justify;
        padding-right: 0px;
    }
    .footer-logo img {
        margin-top: 20px;
        width: 150px;
    }
    .footer-social {
        display: flex;
        justify-content: flex-start;
    }
    .copyright p {
        font-size: 14px
    }
    .subscribe-heading h4 {
        margin: 30px 0px 5px 0px;
    }
    .form-card {
        min-height: 450px !important;
        margin: auto;
    }
    .sub-resume-head {
        margin-top: 100px !important;
    }
}

@media(min-width:1390px) {
    header {
        height: 85vh !important;
    }
    #internal-networks-section {
        margin-top: 0px;
        background-image: url('../img/internal-value-bg.png');
        background-repeat: repeat-x;
        background-position: cover;
        min-height: 400px;
    }
    .form-card {
        min-height: 660px !important;
        margin: auto;
    }
}